<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Data <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="dateselect">
                                <input type="date" class="form-control" [(ngModel)]="selectedDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <div class="table-container">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Student Name</th>
                                <th>Selected Date</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let name of studentNames">
                                <td>{{name}}</td>
                                <td>{{ selectedDate }}</td>
                                <td> <form [formGroup]="attendanceForm">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" formControlName="status" value="Present">
                                        <label class="form-check-label" for="Present">
                                          Present
                                        </label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" formControlName="status" value="Absent">
                                        <label class="form-check-label" for="Absent">
                                          Absent
                                        </label>
                                      </div>
                                </form></td>
                                <td> <button type="button" class="btn btn-primary"(click)=" addAttendance(name,selectedDate) ">Add</button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
              
                </div>
            </div>
        </div>
    </div>


 
      